
<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Run Algorithm <small></small>
    </h1>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">

    <h3>Node Behavior</h3>
    <p>How each node should process is work defined by implementing the two functions <code>startNode()</code> and <code>processResponse()</code>. What each node should do to begin processing work is defined by <code>startNode()</code>, it is the first function that gets executed once the node receives a start message from the network after it is initialized. After that, the node will execute <code>processResponse()</code> every time it receives a message from another node. The <code>iterationNumber</code> is the counter that should be incremented whenever one iteration is complete. This is how the system determines when it is done processing work.</p>
    <p>Sample algorithms for finding the average value of a state variable across all the nodes in a system can be found <a href="https://github.com/speter52/GraphSim/tree/master/GraphInputs/Algorithms">here</a>.</p>
    <h3>Library Functions</h3>
    <p>These functions abstract common tasks for the system, like sending messages to other nodes and updating a node's state value.</p>
    <p><code>int selfID</code> : The ID of this node.</p>
    <p><code>int iterationNumber</code> : The iteration counter that must be incremented everytime an iteration is complete. Initialized to 0.</p>
    <p><code>List&lt;Integer&gt; neighbors</code> : A list of the ID's of the neighbors to this node. neighbors.size() can used to find the number of neighbors.</p>
    <p><code>Object getState(String key)</code> : Returns the value of a state variable, and null if not present. The value needs to be casted to the appropriate type.</p>
    <p><code>void setState(String key, Object value)</code> : Updates the value of a state variable, or adds it if not already present.</p>
    <p><code>void sendValueToNeighbors(String key, Object value)</code> : Sends the corresponding key and value to all its neighbors.</p>
    <p><code>void sendAllValuesToNeighbors()</code> : Sends all the keys and values of this node to all of its neighbors.</p>
    <p><code>String Message.getData(String key)</code> : Retrieves the value of a state variable from a received message.</p>

    <!-- TODO: Loading in partial gives synchronous XMLHttpRequest  -->
    <script src="../assets/bower_components/codemirror/lib/codemirror.js"></script>
    <script src="../assets/bower_components/codemirror/mode/clike/clike.js"></script>
    <script src="../assets/bower_components/codemirror/addon/edit/matchbrackets.js"></script>
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-terminal fa-fw"></i> Input Algorithm</h3>
      </div>
      <div class="panel-body">
        <div><textarea id="input-algorithm">
/**
* This function determines what the node will do when it first begins to start processing work.
*/
@Override
protected void startNode()
{
  // Insert code here.
}

/**
* This function determines what the node will do when it receives a message from another node.
*/
@Override
protected void processResponse(Message incomingMessage)
{
  // Insert code here.
  // iterationNumber++; //Increment iterationNumber to indicate when one iteration is complete.
}
        </textarea></div>
      </div>
    </div>

    <!-- Move codebox js to separate file without incorrectly formatting it in panel -->
    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("input-algorithm"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-java",
      });
    </script>

    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline">
                <label for="layout-dropdown">Network Layout</label>
                <!-- TODO: Bug - When empty, the dropdown is strangely cut-off -->
                <select id="layout-dropdown" class="form-control"></select>
                <div class="form-group" style="margin-left: 5px;">
                    <label>Number of Iterations</label>
                    <input id="numOfIterations" value="100" class="form-control">
                </div>
                <button id="runButton" type="button" class="btn btn-lg btn-success" style="margin-left: 10px;">Run</button>
            </form>
        </div>
    </div>

    <script src="../assets/js/input-puller.js"></script>

    <div class="panel panel-primary" style="margin-top: 15px;">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-area-chart fa-fw"></i> Network Output</h3>
      </div>
      <!-- TODO: Figure out how to keep output box constant height while running algorithm -->
      <div class="panel-body">
        <div id="ball" style="display:none;">
          <div class="spinner" >
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
          </div>
        </div>
        <div ng-controller="OutputGraphCtrl" id="output-graph" style="display:block;height:100%;width:100%;min-height: 400px;"></div>
      </div>
    </div>

    <script src="../assets/js/grapher.js"></script>

  </div>
</div>
<!-- /.row -->
